html, body, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

p {
  text-align: justify; }

.clear-b::after, .wrap-contenido::after, section.carga-notice::after, .clear-b::before, .wrap-contenido::before, section.carga-notice::before {
  display: table;
  clear: both;
  width: 100%; }

body {
  background-color: #374453;
  color: #374453;
  padding-bottom: 30px; }

.container {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  margin-top: 50px;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  background-color: #c9c9c9;
  overflow: hidden; }

header {
  background-color: #ff6654;
  height: 80px; }
  header .menu {
    padding-top: 10px; }

.wrap-contenido {
  width: 90%;
  margin: 0 auto 20px auto; }

.notice-intro,
.notice-full {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s; }

section.carga-notice {
  margin-top: 20px; }
  section.carga-notice article.notice-intro {
    display: none;
    background-color: #fff;
    padding: 15px 0; }
    section.carga-notice article.notice-intro img {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      width: 64px;
      height: 64px;
      background-color: #c7f04b; }
    section.carga-notice article.notice-intro h2 {
      margin-top: 20px;
      font-size: 3em; }
  section.carga-notice article.notice-full {
    padding: 0;
    margin-top: 10px;
    background-color: #fff;
    height: 275px; }
    section.carga-notice article.notice-full img {
      width: 100%;
      height: 275px;
      background-color: #2fc3cb; }
    section.carga-notice article.notice-full h3 {
      margin-top: 20px; }
