<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
		link(rel="stylesheet", href="css/animate.css")
		link(rel="stylesheet", href="css/main.css")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		.container.animated.bounceInUp
			header
				.row
					.col.s2.m2.l2
						.menu
							a(href="#")
								figure
									img(src="../img/icon-menu.svg",alt="")
			.wrap-contenido
				section.row.carga-notice
					article.col.s12.m12.l12.notice-intro
						.col.s2.m2.l2
							img(src="", alt="")
						.col.s10.m10.l10
							| dftgyhujk
					article.col.s12.m12.l12.notice-full
						.col.s6.m6.l6
							p
								| xdcfghjkl
				section.row.carga-notice
					article.col.s12.m12.l12.notice-intro
						.col.s2.m2.l2
							img(src="", alt="")
						.col.s10.m10.l10
							| dftgyhujk
					article.col.s12.m12.l12.notice-full
						.col.s6.m6.l6
							p
								| xdcfghjkl
	// Scripts 
	script(src="https://code.jquery.com/jquery-2.1.1.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
	script(src="js/scripts.js")
