<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Grabilyty Front-End
		link(rel="stylesheet", href="http://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
		link(rel="stylesheet", href="css/animate.css")
		link(rel="stylesheet", href="css/main.css")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body(ng-app="appGrability")
		.container.animated.bounceInUp(ng-controller="controlCarga")
			header
				.row
					.col.s2.m2.l2
						.menu(ng-click='menu()')
							a(href="#")
								figure
									img(src="../img/icon-menu.svg",alt="")
			.wrap-contenido
				section.row.carga-notice.animated.bounceInLeft(ng-repeat="datos in dataJson", ng-controller="showNoti")
					article.col.s12.m12.l12.notice-intro(ng-click="toggleNotis()")
						.col.s3.m3.l2
							a(href="")
								figure
									img(src="{{datos.image}}", alt="")
						.col.s9.m9.l10
							h2
								//- Formato del resultado a 4 palablas
								| {{datos.title.split(" ", 4).toString().split(",").join(" ")}} ...
					article.col.s12.m12.l12.notice-full.animated.bounceInDown(ng-hide="custom")
						.row
							.col.s4.m4.l4
								img(src="{{datos.image}}", alt="")
							.col.s8.m8.l8
								.col.s12.m12.l12
									h3
										| {{datos.title}}
									p
										| {{datos.content}}
	// Scripts 
	script(src="https://code.jquery.com/jquery-2.1.1.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js")
	script(src="js/scripts.js")
	
	//- Datos descargados de un api externo en el archivo conexion.js
	script(src="angular/conexion.js")

	//- Datos tomados del json localmente con el archivo app.js
	//- Comentar conexion.js y descomentar app.js para ver que sigue funcionando la aplicacion con Json local
	//- script(src="angular/app.js")
